body{
    margin: 0;
    padding: 0;
    height: 100%;
}    
.hero-image{
    background-attachment: fixed;
    background-image: url(/Images/Mexico\ Flag.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 225%;
    display: flex;
    align-items: center;
    background-color: black;
}
.links{
    margin: 0;
    padding: 0;
    background-color: black;
}
ul{
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    line-height: 20px;
    color: #fff;
    padding: 22px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
li a:hover{
    background: rgba(255, 0, 0, 0.6);
    padding: 45%;
}
nav{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 10px 45px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    border: 0px;
}
nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
} 
.hero-text{
    color: white;
    border: 5px solid black;
    margin: 0px;
    padding: 0px; 
    position: absolute;
    left: 870px;
    top: 100px;
}
.mexico{
    position: absolute;
    left: -170px;
    bottom: -500px;
}
.text h2 p{
    border: 5px;
    margin: 0px;
    padding: 0px;
}
section{
    border-color: black;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 400px;
    bottom: -410px;
    color: red;
    width: fit-content;
    
}

.text{
    border: 5px;
    margin: 0px;
    padding: 0px;
}
.video2{
    position: absolute;
    bottom: -600px;
    right: 0px;
}
.second{
    border: 5px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 638px;
    color: #fff;
    width: 125px;
    text-size-adjust: large;
    bottom: -505px;
}
.second h3{
    font-size: 30px;
}
.second p{
    font-size: 20px;
}
.video3{
    position: absolute;
    bottom: -750;
    right: 638px;
}
.third{
    border: 5px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 450px;
    color: rgb(3,81,40);
    width: 150px;
    text-size-adjust: large;
    bottom: -1305px;
}
.third .mexico3{
    font-size: 30px;
}
.third p{
    font-size: 20px;
}
/**Footer**/
.bottom{
    background-color: #fff;
}
.bottom p{
    background-color: black;
    text-align: center;
    color: #fff;
    height: 55px;
  
}
.icons ul li a :hover{
    display: block;
    background-color: rgba(0,0,0,0.6);
    font-size: 50px;
    height: 100px;
    text-align: center;
}
html{
    background-color: black;
}